# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
alembic.ini

# Node / Frontend
node_modules/
dist/
dist-ssr/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Application specific
/tmp/documents/
/data/documents/
uvicorn.log